/* Couleurs principales */
body {
    background-color: #5271ff; /* Fond principal */
    color: #000000; /* Couleur de texte principale */
    font-family: "Poppins", sans-serif;
}

.container {
    background-color: #ffffff; /* Fond des conteneurs */
    color: #000000; /* Couleur de texte des conteneurs */
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 5px;
}

header {
    background-color: #5271ff; /* Fond de l'en-tête */
    color: #ffffff; /* Couleur de texte de l'en-tête */
    text-align: center;
    padding: 20px;
    border-radius: 5px 5px 0 0;
}

header h1 {
    margin: 0;
    font-size: 2em;
}

.logo {
    width: 100px; /* Ajuster la taille du logo si nécessaire */
    height: auto;
    margin-bottom: 10px;
}

.main-content {
    padding: 20px;
}

.feature {
    margin-bottom: 20px;
}

.feature h2 {
    margin-top: 0;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}


/* Menu */
.menu-toggle {
    display: none; /* Masque le bouton de menu sur les grands écrans */
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5271ff; /* Fond du menu */
    border-radius: 5px;
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: #ffffff; /* Couleur du texte du menu */
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.menu li a:hover {
    background-color: #8fa6ff; /* Couleur de survol du lien */
}

/* Styles pour le menu réactif */
@media screen and (max-width: 600px) {
    .menu {
        display: none; /* Masque le menu sur les petits écrans par défaut */
        width: 100%;
    }

    .menu.active {
        display: block; /* Affiche le menu lorsque le bouton est cliqué */
    }

    .menu li {
        float: none;
    }

    .menu li a {
        padding: 12px 16px;
    }

    .menu-toggle {
        display: block; /* Affiche le bouton de menu sur les petits écrans */
        float: right;
        cursor: pointer;
    }
}

/* Style de la liste déroulante pour sélectionner le niveau */
#level-select {
    font-family: 'Poppins', sans-serif;
    font-size: 1em;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ccc; /* Couleur du bord */
    background-color: #f5f5f5; /* Couleur de fond */
    color: #5271ff; /* Couleur du texte */
    outline: none;
    transition: border-color 0.3s, box-shadow 0.3s;
    width: 200px; /* Ajuste la largeur selon tes besoins */
    margin-top: 10px;
}

/* Effet de survol pour la liste déroulante */
#level-select:hover {
    border-color: #3498db; /* Couleur du bord au survol */
    background-color: #e1f5fe; /* Couleur de fond au survol */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Effet de focus pour la liste déroulante */
#level-select:focus {
    border-color: #3498db; /* Couleur du bord au focus */
    background-color: #e1f5fe; /* Couleur de fond au focus */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

/* Style pour l'étiquette de la liste déroulante */
#level-select + label {
    font-size: 1.1em;
    font-weight: 600;
    color: white; /* Couleur du texte de l'étiquette */
    display: block;
    margin-bottom: 5px;
}

.card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(214, 62, 62, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.card:hover {
    transform: translateY(-5px);
}
.card img {
    width: 100%;
    height: auto;
    display: block;
}
.card-content {
    padding: 20px;
}
.card-content h2 {
    margin-top: 0;
    font-size: 1.5em;
}
.card-content p {
    color: #555;
}
.back-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #5271ff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.back-button:hover {
    background-color: #4059d5;
}

@media (min-width: 767px) {
    .card img {
        height: 200px; /* Hauteur fixe pour les écrans larges */
        object-fit: cover; /* Remplit le conteneur en conservant les proportions */
    }
}